@font-face {
    font-family: 'Psych';
    src: url('../fonts/psych.woff2') format('woff2'),
         url('../fonts/psych.woff') format('woff'),
         url('../fonts/psych.ttf') format('truetype'),
         url('../fonts/psych.svg#Psych') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  .font-psych {
    font-family: 'Psych' !important;
  }